body{
    height: 2000;
}

header{
    padding: 100px;
    border: 10px;
    background-color: rgb(253, 255, 137);
}
nav{
    padding: 10px;
    background-color: rgba(128, 255, 0, 0.894);
    position: sticky;
    top: 0px;
}
.menyu{
    margin-left: 140px;
    font-size: 20px;
    border: 2px solid red;
    text-decoration: none;
}
.menyu:active{
    background-color: black;
    color: greenyellow;
}
.d2 a{
    display: block;
    font-size: 25px;
}
.d2{
    border: 3px solid black;
    width: 30%;
}
.d3{
    border: 3px solid black;
    width: 95%;
    height: 750px;
}
.card{
   border: 2px solid green;
    width: 240px;
    height: 295px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
}
img{
    width: 100%;
}
.d4{
    border: 3px solid black;
    width: 95%;
    height: 775px;
}


.markalarrasmi{
    width: 210px;
    height: 182px;
    margin-left: 2px;
    margin-top: 2px;
    float: left;
    border: 3px solid green;
}
.matn{
    margin-left: 95px;
    margin-top: 150px;
}
.d5{
    width: 95%;
    height: 450px;
    border: 3px solid black;
    margin-top: -6px;
}
.video{
    margin-left: 135px;
    margin-top: 50px;
}
.vidyolar{
    margin-top: -40px;
    color: red;
}
.d6{
    width: 95%;
    height: 2080px;
    border: 3px solid black;
}
.malumot{
    margin-left: 65px;
    margin-top: 10px;
}
h3{
    color: indianred;
}

@media screen and (max-width: 400px) {
    header{
        padding: 100px 50px 100px 10px;
    }
    .menyu{
        margin-left: 0px;
        display: block;
        text-align: center;
    }
    .d2{
        width: 200px;
    }
    .d3{
        height: 3830px;
    
    }
    .card{
        margin-left: 35px;
    }
    .d4{
        height: 2500px;
    }
    .markalarrasmi{
        margin-left: 40px;
    }
    nav{
        position: sticky;
        top: 0px;   
    }
}